<div class="container" style="margin-top: 20px;" ng-controller="homeController">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div
        class="header"
        style="display: flex; justify-items: center; align-items: center;"
      >
        <h1 style="width: 90%;">Welcome {{userProfile.name}}</h1>
        <button
          style="height: 40px;"
          class="btn btn-primary"
          ng-click="logout()"
        >
          Log Out
        </button>
      </div>
    </div>
  </div>
  <div class="row clearfix" style="margin-bottom: 10px;">
    <h3>Add a new column:</h3>
    <div class="col-md-2">
      <input
        id="column"
        name="column"
        placeholder="Add column"
        ng-model="column"
        type="text"
        class="form-control input-small"
      />
      <button
        style="height: 40px;"
        class="btn btn-primary"
        ng-click="addColumn()"
      >
        Add Column
      </button>
    </div>
  </div>
  <div class="row clearfix" style="margin-bottom: 10px;">
    <h3>Add a new row:</h3>
    <div class="controls form-inline form-group">
      <div ng-repeat="column in columns" class="col-md-2">
        <input
          id="{{column}}"
          name="{{column}}"
          placeholder="Enter {{column}}"
          ng-model="Answers[column]"
          type="text"
          class="form-control input-small"
        />
      </div>
    </div>
    <div class="col-md-2">
      <button
        ng-click="addRecord()"
        id="btnAdd"
        name="btnAdd"
        class="btn btn-danger"
      >
        Add a row
      </button>
    </div>
  </div>
  <div class="row clearfix">
    <h3>Filter By:</h3>
    <div ng-repeat="column in columns" class="col-md-2">
      <label>{{column}} Only</label>
      <input
        id="{{column}}"
        name="{{column}}"
        placeholder="Enter {{column}}"
        ng-model="Filters[column]"
        type="text"
        class="form-control input-small"
      />
    </div>
  </div>
  <div class="row clearfix">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr ng-if="columns.length > 0">
          <th ng-repeat="column in columns" ng-click="sort(column)">{{column}}
              <span class="glyphicon sort-icon" ng-show="sortKey==column" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
            dir-paginate="item in dataset|orderBy:sortKey:reverse|filter:Filters:strict|itemsPerPage:5"
          ng-if="dataset.length > 0"
        >
          <td
            ng-class="{pass: column === 'status' && item[column].toLowerCase()=== 'pass', fail: column === 'status' && item[column].toLowerCase() === 'fail'}"
            ng-repeat="column in columns"
            ng-if="columns.length > 0 && updateRecord !== item.id"
          >
            {{item[column]}}
          </td>
          <td
            ng-class="{pass: column === 'status' && item[column].toLowerCase()=== 'pass', fail: column === 'status' && item[column].toLowerCase() === 'fail'}"
            ng-repeat="column in columns"
            ng-if="columns.length > 0 && updateRecord === item.id"
          >
            <input
              id="{{column}}"
              name="{{column}}"
              placeholder="Enter {{column}}"
              value="{{item[column]}}"
              ng-model="UpdatedRecord[column]"
              type="text"
              class="form-control input-small"
            />
          </td>
          <td>
            <span
              title="delete this record"
              class="glyphicon glyphicon-edit text-danger"
              style="cursor: pointer;"
              ng-click="showUpdatingRecord(item.id, item)"
              ng-if="updateRecord !== item.id"
            ></span>
            <span
              title="delete this record"
              class="glyphicon glyphicon-trash text-danger"
              style="cursor: pointer;"
              ng-click="delRecord(item.id)"
              ng-if="updateRecord !== item.id"
            ></span>
            <span
            title="delete this record"
            class="glyphicon glyphicon-ok text-danger"
            style="cursor: pointer;"
            ng-click="updRecord(item.id)"
            ng-if="updateRecord === item.id"
          ></span>
          </td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true" >
</dir-pagination-controls>
  </div>
</div>
