<div
  class="container"
  style="margin-top: 20px;"
  ng-controller="loginController"
>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="header">
        <h1>Student Records</h1>
      </div>
    </div>
  </div>
  <a ng-click="toggleLogin()">Toggle Login</a>
  <div ng-if="showLogin">
    <div class="row clearfix" style="margin-bottom: 10px;">
      <div class="col-md-5">
        <h3>Login Admin:</h3>
      </div>
    </div>
    
    <div class="row clearfix" style="margin-bottom: 10px;">
      <div class="controls form-inline form-group">
        <div class="col-md-2">
          <input
            id="username"
            name="username"
            placeholder="User Name"
            ng-model="user.name"
            type="text"
            class="form-control input-small"
          />
        </div>
        <div class="col-md-2">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            ng-model="user.password"
            type="text"
            class="form-control input-small"
          />
        </div>
        <div class="col-md-2">
          <button ng-click="loginUser()" class="btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-5">
      <div ng-if="invalidLogin" class="alert alert-danger" role="alert">
        Invalid Login
      </div>
    </div>
  </div>
  <div
    class="container"
    style="margin-top: 10px;"
    ng-controller="homeController"
  >
    <div class="row clearfix">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr ng-if="columns.length > 0">
            <th ng-repeat="column in columns">{{column}}</th>
          </tr>
        </thead>
        <tbody>
          <tr
              dir-paginate="item in dataset|orderBy:sortKey:reverse|filter:Filters:strict|itemsPerPage:5"
            ng-if="dataset.length > 0"
          >
            <td
              ng-class="{pass: column === 'status' && item[column].toLowerCase()=== 'pass', fail: column === 'status' && item[column].toLowerCase() === 'fail'}"
              ng-repeat="column in columns"
              ng-if="columns.length > 0 && updateRecord !== item.id"
            >
              {{item[column]}}
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true" >
</dir-pagination-controls>
    </div>
  </div>
</div>
