<html>

<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/icon" href="Node.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.js"
            integrity="sha512-CiKQCmN86Y1I8Ewkt2gGnSNmsiVrS9Ez5MoudCBhTiBJScg+GjA9OlKdaeI0IuxdCl43Fs5x5zpeew2hfOatOA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.0/angular-route.js"
            integrity="sha512-2IRHPsyDdFUkxs5Xtuea5UCHYoUjrmNlXqLS6BVCkn4wJUr1BhG8LuLdmcbqCxynWiqfqgc8H7elEib7SV8o8Q==" crossorigin="anonymous"></script>
            <script src="lib/dirPagination.js"></script>
    <script src="app.js"></script>
    <style>
        input{
            margin-bottom: 20px;
        }
        .pass {
            background-color: yellow;
        }

        .fail {
            background-color: red;
        }
    </style>
</head>

<body ng-app="myApp">
    <div ng-view></div>
</body>

</html>